<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title th:text="#{lokaalForm.title}"></title>
<link rel="stylesheet" th:href="@{/css/error.css}" />
<link rel="stylesheet" th:href="@{/css/form.css}" />
</head>
<body>
	<div class = "flex-container">
		<h1 th:text="#{lokaalForm.title}" class = "item-1"></h1>
		<form th:action="@{/lokaal}" th:object="${lokaal}" method="post" class = "flex-container">

				<label th:text="#{lokaalForm.lokaalNaamLabel}"></label> 
				<input type="text" th:field="*{lokaalNaam}" th:placeholder="#{lokaalForm.lokaalNaamPlaceHolder}" /> 
				<span th:if="${#fields.hasErrors('lokaalNaam')}" th:errorclass="error" th:errors="*{lokaalNaam}"></span> 
				
				<label th:text="#{lokaalForm.capaciteitLabel}"></label> 
				<input type="text" th:field="*{capaciteit}" /> 
				<span th:if="${#fields.hasErrors('capaciteit')}" th:errorclass="error" th:errors="*{capaciteit}"></span>
				
				<button th:text="#{lokaalForm.submitButton}"></button>
		</form>
		<a th:href="@{/conferentieOverzicht}">
					<button type="button" th:text="#{backButton}"></button>
				</a>
		<div th:if="${saved}" th:text="#{lokaalForm.successMessage}"></div>
	</div>

</body>
</html>